@{
    ViewBag.Title = "Dropmenu widget";
}

<h1>Dropmenu</h1>
<div class="example">
    <h2>Simple Dropmenu</h2>
    @*begin1*@
    <div id="area1" class="area">
        <div class="msg">click here</div>
    </div>
    <script>
        $(function () {
            var div = $('#area1');
            var msg = div.find('.msg');
            var items = [{ k: 1, c: 'item 1' }, { k: 2, c: 'item 2' }, { k: 3, c: 'item 3' }];

            var dd = awem.dropmenu({ dataFunc: getData, select: select });

            div.click(function (e) {
                dd.open({ xy: { y: e.clientY, x: e.clientX } });
            });

            function select(it) {
                msg.html('you clicked ' + it.c);
            }

            function getData() {
                return items;
            }
        });
    </script>
    @*end1*@
    <div class="code">
        @Html.Source("Dropmenu/Index.cshtml", 1)
    </div>
</div>

<div class="example">
    @Html.Partial("Demos/DropmenuItems")
</div>
<div class="example">
    <h2>Mainmenu and sidemenu</h2>
    @*beginsbm*@
    <p>open on click:</p>
    <div id='menu1'>
        <div class="mitem" data-prop="file">File</div>
        <div class="mitem" data-prop="meals">Meals</div>
        <div class="mitem" data-prop="help">Help</div>
    </div>
    <br />
    <br />
    <br />

    <p>open on hover:</p>
    <div id='menuHov1'>
        <div class="mitem" data-prop="file">File</div>
        <div class="mitem" data-prop="meals">Meals</div>
        <div class="mitem" data-prop="help">Help</div>
    </div>

    <br />
    <br />
    <br />
    <p>side menu, open on hover:</p>
    <div id='sideMenu' style="width: 100px">
        <div class="smitem" data-prop="file">File</div>
        <div class="smitem" data-prop="meals">Meals</div>
        <div class="smitem" data-prop="help">Help</div>
    </div>
    <div id="log1" style="min-height: 2em;"></div>
    <script>
        $(function() {
            var data = {
                file: [
                    { c: 'New' },
                    { c: 'Save' },
                    { c: 'Recent Files',
                        nv: 1, // non value, clicking on it does nothing
                        it: [{ c: 'file1' }, { c: 'file2' }, { c: 'file3' } ]},
                    { c: 'Quit' }
                ],
                meals: [],
                help: [
                    {c: 'View help'},
                    {c: 'Feedback'},
                    { c: '', cs: "o-litm", nv: 1 },  // horiz line
                    {c: 'About'}]
            };

            $.when(cstorg.get('@Url.Action("GetMealsTreeImg", "Data")')).then(function(res) {
                data.meals = res;
            });

            function openMenu(mitem, right) {
                var prop = mitem.data('prop');

                var dm1 = awem.dropmenu({
                    dataFunc: function() {
                        return data[prop];
                    },
                    minw: 150,
                    submenu: true, // tree data as submenu
                    asmi: prop !== 'meals' ? -1 : 0, // autosearch only for meals
                    itemFunc: site.imgItem,
                    select: function(item) {
                        awe.flash($('#log1').html('click on ' + item.c));
                    }
                });

                dm1.open({ opener: mitem, right: right });
                return dm1;
            }

            // open on click menu
            $('#menu1').on('click', '.mitem',
                function(e) {
                    var mitem = $(e.target);
                    openMenu(mitem);
                });

            // open on hover menu
            awem.hovMenu({
                hover: $('#menuHov1').find('.mitem'),
                open: openMenu
            });

            // open on hover side menu
            awem.hovMenu({
                hover: $('#sideMenu'),
                hsel: '.smitem',
                open: function(opener) { return openMenu(opener, true);  }
            });
        });
    </script>
    @*endsbm*@
    <div class="code">
        @Html.Source("Dropmenu/Index.cshtml", "sbm")
    </div>
</div>

<div class="example">
    <h2>Main menu with a links</h2>
    @*beginlinks*@
    <script>
        $(function () {
            var data = {
                file: [
                    { c: 'Home', k: '' },
                    { c: 'About', k: 'Home/About' },
                    {
                        c: 'Grid demos',
                        nv: 1, // non value
                        it: [
                            { c: 'Overview', k: 'GridDemo' },
                            { c: 'Filtering', k: 'GridDemo/Filtering' },
                            { c: 'Inline Editing', k: 'GridInlineEditDemo' }]
                    }
                ],
                other: [
                    { c: 'aweui', k:'aweui' },
                    { c: 'Mailbox', k: 'MailboxDemo' },
                    { c: 'Cascade', k: 'MultipleLevelCascadingDemo' },
                    { c: '', cs: "o-litm", nv: 1 },  // horiz line
                    { c: 'Popup', k:'PopupDemo' }]
            };

            function openMenu(mitem) {
                var prop = mitem.data('prop');

                var dm = awem.dropmenu({
                    dataFunc: function () {
                        return data[prop];
                    },
                    minw: 200,
                    submenu: true, // tree data as submenu
                    asmi: -1, // no search
                    clss: "amenu", // popup div class, .amenu in site.css makes the a occupy the whole li
                    itemFunc: function(item) {
                        return item.k != null ?  '<a href="' + document.root + item.k + '">' + item.c + '</a>' : item.c;
                        // document.root is set in _Layout.cshtml
                    }
                });

                dm.open({ opener: mitem });
                return dm;
            }

            // open on hover menu
            awem.hovMenu({
                hover: $('#linkMenu').find('.mitem'),
                open: openMenu
            });
        });
    </script>

    <div id="linkMenu">
        <div class="mitem" data-prop="file">File</div>
        <div class="mitem" data-prop="other">Other</div>
    </div>
    @*endlinks*@
    <div class="code">
        @Html.Source("Dropmenu/Index.cshtml", "links")
    </div>
</div>

<div class="example">
    <h2>Dropmenu with tree data</h2>
    <div id="areaTree1" class="area">
        <div class="msg">click here</div>
    </div>
    <script>
        $(function () {
            var divArea = $('#areaTree1');
            var msg = divArea.find('.msg');
            var items = [{ k: 1, c: 'item 1' },
                {
                    k: 2,
                    c: 'item 2',
                    nv: true, // non value
                    it: [
                        { k: 11, c: 'item 11' }, { k: 12, c: 'item 12' }, { k: 13, c: 'item 13' },
                        {
                            k: 14,
                            c: 'item 14',
                            it: [{ k: 141, c: 'item 141' }
                            ]
                        }
                    ]
                },

                { k: 3, c: 'item 3' }];

            var dm = awem.dropmenu({
                dataFunc: function () {
                    return items;
                },
                select: function (item) {
                    msg.html('you selected ' + item.c);
                }, // on item click / select
                clp: true // collapsible
            });

            divArea.click(function (e) {
                dm.open({
                    xy: { y: e.clientY, x: e.clientX }
                });
            });
        });
    </script>
</div>

<div class="example">
    @Html.Partial("Demos/AutocInTxta")
</div>

@Html.Awe().InitPopup().Name("p1").Url(Url.Action("Popup1"))
@Html.Awe().Button().OnClick(Html.Awe().OpenPopup("p1")).Text("Open Popup")